{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": 2,
        "quotes": "single",
        "no-underscore-dangle": false,
        "valid-jsdoc": true,
        "no-constant-condition": false,
        "strict": "never",
        "camelcase": false,
        "space-infix-ops": false,
        "new-cap": false
    },
    "globals": {
	    "Konva" : false,
        "define": false
	}
}
