body {
    margin: 0px;
    padding: 0px;
	font-family: monospace
}

p {
    padding: 0px;
    margin: 0px;
}

.green {
	background-color: green;
	color: white;
}

.red {
	background-color: red;
	color: white;
}

.row > div {
	display: inline-block;
	background-color: #f0f0f0;
	width: 578px;
	height: 200px;
}
