body {
    margin: 0px;
    padding: 0px;
	font-family: monospace
}

p {
    padding: 0px;
    margin: 0px;
}

.green {
	background-color: green;
	color: white;
}

.red {
	background-color: red;
	color: white;
}

.row > div {
	display: inline-block;
	background-color: #f0f0f0;
	width: 578px;
	height: 200px;
}

#testCounter {
	position: fixed;
	right: 0px;
	top: 0px;
	background-color: black;
	padding: 10px;
	border-radius: 3px;
	color: #aaa;
	font-size: 2em;
}
