body {
    margin: 0px;
    padding: 0px;
	font-family: monospace
}

canvas {
    border-right: 2px solid #9C9898;
}

div {
    height: 200px;
}

p {
    padding: 0px;
    margin: 0px;
}

.green {
	background-color: green;
	color: white;
}

.red {
	background-color: red;
	color: white;
}